
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #5cbecf;
	height: 5rem;
}

.logo_{
	margin-top: 0;
	height: 67px;
	width: 145px;
}

.foto_perfil{
	height: 50px;
	width: 50px;
	border-radius: 1.5rem;
	margin: 1rem;
}

.body{
	background-color: #42433e;
}
.agenda{
	height: 300px;
	width: 300px
}

.div_da_foto{
	margin:2.25rem;
	margin-top: 5rem;
}