.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #997aea;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5CBECF;
  height: 5rem;
}

.logo_{
  margin-top: 0;
  height: 67px;
  width: 145px;
}

.foto_perfil{
  height: 50px;
  width: 50px;
  border-radius: 1.5rem;
  margin: 1rem;
}

.top{
  display: flex;
  background-color: #5CBECF;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1rem;
  margin-top: 1.5rem;
  font-family: 'Sorts Mill Goudy', serif;
}

.ativ{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.container{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.ativ1{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  color: #FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  background-color: #5CBECF;
  border-radius: 5rem;
}

.pessoas{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  font-weight: bold;
}

.parque{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}

.quadra{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}

.ativ2{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  color: #FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  background-color: #5CBECF;
  border-radius: 5rem;
}

.back_feed{
  background-color: #42433e;
}

.botao{
  font-family: 'Red Hat Text', sans-serif;
  background-color: #D62565;
  font-size: 1.2rem;
  height: 2rem;
  margin: 1rem;
  width: 7rem;
}

.botao_{
  display: flex;
  justify-content: center;

}